*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode

# Mac
.DS_Store
*.cys
*.graphml
*.csv
*.png
*.pdf
*.svg
*.npy
*.model
*.h5
*.npz
*.xlsx
config.py
output/
data/
models_trained/
computed_results/
notebooks/.ipynb_checkpoints/
__pycache__/
