annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.15"
anyio==4.13.0 ; python_version >= "3.10" and python_version < "3.15"
backports-tarfile==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
backports-zstd==1.5.0 ; python_version >= "3.10" and python_version < "3.14"
build==1.5.0 ; python_version >= "3.10" and python_version < "3.15"
cachecontrol==0.14.4 ; python_version >= "3.10" and python_version < "3.15"
certifi==2026.5.20 ; python_version >= "3.10" and python_version < "3.15"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "3.15" and (sys_platform == "linux" or sys_platform == "darwin") and (platform_python_implementation != "PyPy" or sys_platform == "darwin")
cfgv==3.5.0 ; python_version >= "3.10" and python_version < "3.15"
charset-normalizer==3.4.7 ; python_version >= "3.10" and python_version < "3.15"
cleo==2.1.0 ; python_version >= "3.10" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.15" and (os_name == "nt" or sys_platform == "win32" or platform_system == "Windows")
contourpy==1.3.2 ; python_version == "3.10"
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.15"
coverage==7.14.1 ; python_version >= "3.10" and python_version < "3.15"
crashtest==0.4.1 ; python_version >= "3.10" and python_version < "3.15"
cryptography==48.0.0 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "linux"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.15"
decorator==5.3.1 ; python_version >= "3.10" and python_version < "3.15"
deprecated==1.3.1 ; python_version >= "3.10" and python_version < "3.15"
distlib==0.4.1 ; python_version >= "3.10" and python_version < "3.15"
docutils==0.19 ; python_version >= "3.10" and python_version < "3.15"
dulwich==1.2.6 ; python_version >= "3.10" and python_version < "3.15"
exceptiongroup==1.3.1 ; python_version == "3.10"
fastjsonschema==2.21.2 ; python_version >= "3.10" and python_version < "3.15"
filelock==3.29.1 ; python_version >= "3.10" and python_version < "3.15"
findpython==0.8.0 ; python_version >= "3.10" and python_version < "3.15"
fonttools==4.63.0 ; python_version >= "3.10" and python_version < "3.15"
greenlet==3.5.1 ; python_version >= "3.10" and python_version < "3.15" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.15"
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "3.15"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.15"
id==1.6.1 ; python_version >= "3.10" and python_version < "3.15"
identify==2.6.19 ; python_version >= "3.10" and python_version < "3.15"
idna==3.18 ; python_version >= "3.10" and python_version < "3.15"
importlib-metadata==9.0.0 ; python_version >= "3.10" and python_version < "3.12"
iniconfig==2.3.0 ; python_version >= "3.10" and python_version < "3.15"
installer==1.0.1 ; python_version >= "3.10" and python_version < "3.15"
jaraco-classes==3.4.0 ; python_version >= "3.10" and python_version < "3.15"
jaraco-context==6.1.2 ; python_version >= "3.10" and python_version < "3.15"
jaraco-functools==4.5.0 ; python_version >= "3.10" and python_version < "3.15"
jeepney==0.9.0 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "linux"
joblib==1.5.3 ; python_version >= "3.10" and python_version < "3.15"
keyring==25.7.0 ; python_version >= "3.10" and python_version < "3.15"
kiwisolver==1.5.0 ; python_version >= "3.10" and python_version < "3.15"
llvmlite==0.47.0 ; python_version >= "3.10" and python_version < "3.15"
lxml==6.1.1 ; python_version >= "3.10" and python_version < "3.15"
markdown-it-py==4.2.0 ; python_version >= "3.10" and python_version < "3.15"
matplotlib==3.10.9 ; python_version >= "3.10" and python_version < "3.15"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.15"
more-itertools==11.1.0 ; python_version >= "3.10" and python_version < "3.15"
ms-entropy==1.4.2 ; python_version >= "3.10" and python_version < "3.15"
msgpack==1.1.2 ; python_version >= "3.10" and python_version < "3.15"
narwhals==2.22.1 ; python_version >= "3.11" and python_version < "3.15"
networkx==3.4.2 ; python_version >= "3.10" and python_version < "3.15"
nh3==0.3.5 ; python_version >= "3.10" and python_version < "3.15"
nodeenv==1.10.0 ; python_version >= "3.10" and python_version < "3.15"
numba==0.65.1 ; python_version >= "3.10" and python_version < "3.15"
numpy==2.2.6 ; python_version == "3.10"
numpy==2.4.6 ; python_version >= "3.11" and python_version < "3.15"
packaging==26.2 ; python_version >= "3.10" and python_version < "3.15"
pandas==2.3.3 ; python_version == "3.10"
pandas==3.0.3 ; python_version >= "3.11" and python_version < "3.15"
pbs-installer==2026.6.2 ; python_version >= "3.10" and python_version < "3.15"
pickydict==0.5.0 ; python_version >= "3.10" and python_version < "3.15"
pillow==12.2.0 ; python_version >= "3.10" and python_version < "3.15"
pkginfo==1.12.1.2 ; python_version >= "3.10" and python_version < "3.15"
platformdirs==4.10.0 ; python_version >= "3.10" and python_version < "3.15"
pluggy==1.6.0 ; python_version >= "3.10" and python_version < "3.15"
poetry-bumpversion==0.3.3 ; python_version >= "3.10" and python_version < "3.15"
poetry-core==2.4.0 ; python_version >= "3.10" and python_version < "3.15"
poetry==2.4.1 ; python_version >= "3.10" and python_version < "3.15"
pre-commit==4.6.0 ; python_version >= "3.10" and python_version < "3.15"
psims==1.3.6 ; python_version >= "3.10" and python_version < "3.15"
pubchempy==1.0.5 ; python_version >= "3.10" and python_version < "3.15"
py-cpuinfo==9.0.0 ; python_version >= "3.10" and python_version < "3.15"
pycparser==3.0 ; python_version >= "3.10" and python_version < "3.15" and (sys_platform == "linux" or sys_platform == "darwin") and implementation_name != "PyPy" and (platform_python_implementation != "PyPy" or sys_platform == "darwin")
pydantic-core==2.46.4 ; python_version >= "3.10" and python_version < "3.15"
pydantic==2.13.4 ; python_version >= "3.10" and python_version < "3.15"
pygments==2.20.0 ; python_version >= "3.10" and python_version < "3.15"
pynndescent==0.6.0 ; python_version >= "3.10" and python_version < "3.15"
pyparsing==3.3.2 ; python_version >= "3.10" and python_version < "3.15"
pyproject-hooks==1.2.0 ; python_version >= "3.10" and python_version < "3.15"
pyteomics==5.0 ; python_version >= "3.10" and python_version < "3.15"
pytest-benchmark==5.2.3 ; python_version >= "3.10" and python_version < "3.15"
pytest-cov==7.1.0 ; python_version >= "3.10" and python_version < "3.15"
pytest==9.0.3 ; python_version >= "3.10" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.15"
python-discovery==1.4.0 ; python_version >= "3.10" and python_version < "3.15"
pytz==2026.2 ; python_version == "3.10"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "win32"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "3.15"
rapidfuzz==3.14.5 ; python_version >= "3.10" and python_version < "3.15"
rdkit==2026.3.3 ; python_version >= "3.10" and python_version < "3.15"
readme-renderer==43.0 ; python_version >= "3.10" and python_version < "3.15"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.15"
requests==2.34.2 ; python_version >= "3.10" and python_version < "3.15"
rfc3986==2.0.0 ; python_version >= "3.10" and python_version < "3.15"
rich==15.0.0 ; python_version >= "3.10" and python_version < "3.15"
ruff==0.15.16 ; python_version >= "3.10" and python_version < "3.15"
scikit-learn==1.7.2 ; python_version == "3.10"
scikit-learn==1.9.0 ; python_version >= "3.11" and python_version < "3.15"
scipy==1.15.3 ; python_version == "3.10"
scipy==1.16.3 ; python_version >= "3.11" and python_version < "3.15"
secretstorage==3.5.0 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "linux"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.15"
sparsestack==0.7.1 ; python_version >= "3.10" and python_version < "3.15"
sqlalchemy==2.0.50 ; python_version >= "3.10" and python_version < "3.15"
testfixtures==8.3.0 ; python_version >= "3.10" and python_version < "3.15"
threadpoolctl==3.6.0 ; python_version >= "3.10" and python_version < "3.15"
tomli==2.4.1 ; python_version == "3.10"
tomlkit==0.15.0 ; python_version >= "3.10" and python_version < "3.15"
tqdm==4.68.1 ; python_version >= "3.10" and python_version < "3.15"
trove-classifiers==2026.6.1.19 ; python_version >= "3.10" and python_version < "3.15"
twine==6.2.0 ; python_version >= "3.10" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.15"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "3.15"
tzdata==2026.2 ; python_version >= "3.10" and python_version < "3.15" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version == "3.10"
urllib3==2.7.0 ; python_version >= "3.10" and python_version < "3.15"
virtualenv==21.4.2 ; python_version >= "3.10" and python_version < "3.15"
wrapt==2.2.1 ; python_version >= "3.10" and python_version < "3.15"
xattr==1.3.0 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "darwin"
yapf==0.43.0 ; python_version >= "3.10" and python_version < "3.15"
zipp==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
