# packages dependencies
gensim
matplotlib
numpy
pyteomics
pyyaml
rdkit
scipy

# # dev dependencies
# isort
# prospector[with_pyroma]
# pycodestyle
# pytest
# pytest-cov
# pytest-runner
# recommonmark
# ruamel.yaml
# sphinx
# sphinx_rtd_theme
# sphinxcontrib-apidoc
# yapf
